<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Animal List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-5">
  <h1 class="text-center mb-4">Animal List</h1>
  <!-- Check Medical Records button (aligned to the right) -->
  <div class="text-end mb-4">
    <a th:href="@{/medicalrecords}" class="btn btn-success btn-sm">Check Medical Records</a>
  </div>

  <!-- Search Form -->
  <form th:action="@{/animals}" method="get" class="d-flex mb-4">
    <input type="text" class="form-control me-2" name="mc" placeholder="Search by name" th:value="${mc}">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <!-- Animal Table -->
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Status</th>
      <th>Food</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal : ${animals}">
      <td th:text="${animal.id}"></td>
      <td th:text="${animal.name}"></td>
<!--      <td th:text="${animal.species}"></td>-->
      <td th:text="${animal.spe?.nom}">Species Name</td>
      <td th:text="${animal.breed}"></td>
      <td th:text="${animal.gender}"></td>
      <td th:text="${animal.age}"></td>
      <td>
        <span th:class="${animal.status.getColor()}" th:text="${animal.status}"></span>
      </td>

      <!-- Food List -->
      <td>
        <ul>
          <li th:each="food : ${animal.foods}" th:text="${food.name}"></li>
        </ul>
      </td>

      <td>
        <a th:href="@{/animals/edit/{id}(id=${animal.id})}" class="btn btn-warning btn-sm"> Edit </a>
        <a th:href="@{/animals/delete/{id}(id=${animal.id})}"
           class="btn btn-danger btn-sm"
           onclick="return confirm('Are you sure?')">Delete</a>

      </td>
    </tr>
    </tbody>
  </table>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
            th:classappend="${i == currentPage} ? 'active'">
          <a class="page-link" th:href="@{/animals(mc=${mc}, page=${i}, size=${5})}" th:text="${i}"></a>
        </li>
      </ul>
    </nav>

  <!-- Add New Animal -->
  <div class="text-center mt-3">
    <a href="/animals/add" class="btn btn-success">Add New Animal</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
