<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Access Denied</title>-->
<!--    <link rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h5>hello </h5>-->
<!--&lt;!&ndash;    <h1>Access Denied</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>rania   You do not have permission to access this page.</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Please contact your administrator or log in with the correct role.</p>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
